In [1]:
print("Hello, Python")

Hello, Python

In [4]:
print("Hello, Python \n hello you")

Hello, Python
 hello you

In [11]:
#Create a list:

L = ['Python is cool', 2021, 10.5]
L

['Python is cool', 2021, 10.5]

In [13]:
# Retrieve elements of the list using positive and negative indexes:
print('the same element using positive and negative indexing:\n Positive:',L[0],'Negative:' ,L[-3] )
print('Positive:', L[1], '\n Negative:' ,L[-2])
print('Positive:', L[2], '\n Negative:')

the same element using positive and negative indexing:
 Positive: Python is cool Negative: Python is cool
Positive: 2021
 Negative: 2021

In [1]:
#Sample list that has nested elements
L= ["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]
L

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

In [2]:
len(L)

5

In [39]:
#List slicing:
L[0:5]
L[::2]
L[:3:2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1), 'pop', 10]

In [11]:
# Use extend/append method to add elements to list
L = ["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]
L.extend(['pop', 10])
L
L. append(['smooth criminal',1991])
L

['Michael Jackson',
 10.1,
 1982,
 [1, 2],
 ('A', 1),
 'pop',
 10,
 ['smooth criminal', 1991]]

In [19]:
#Change the element based on the index:
A=['smooth criminal', 1991, 15]
print("Before change:", A) 
 A[0] = "billie jean"
print("After change:", A)
B = ['matka romy i joanny',1991, 3]
print("Before change:", B)
B[1] = (1958)
print("After change:", B)

Before change: ['smooth criminal', 1991, 15]
After change: ['billie jean', 1991, 15]
Before change: ['matka romy i joanny', 1991, 3]
After change: ['matka romy i joanny', 1958, 3]

In [23]:
#Delete elements based on the index
A=['Rock and roll is king', 2020, 2016]
print("Before change:", A)
del(A[1])
print("After change", A)

Before change: ['Rock and roll is king', 2020, 2016]
After change ['Rock and roll is king', 2016]

In [24]:
# Split the string, default is by space
'matka romy i joanny'.split()

['matka', 'romy', 'i', 'joanny']

In [26]:
# Split the string by comma
"matka romy, i, joanny".split(',')

['matka romy', ' i', ' joanny']

In [30]:
#Copy list
A = ['Billie Jean', 2015, 2020]
A=B
print('A:', A)
print('B:', B)
A[0] = "apple"
A

A: ['apple', 1958, 3]
B: ['apple', 1958, 3]

['apple', 1958, 3]

In [36]:
#Clone list
A = ['Billie Jean', 2015, 2020]
B = A[:]
B
print("B[0]", B[0] )
A[0] = "Smooth criminal"
print(A[0])
print(["B[0]:", B[0]])

B[0] Billie Jean
Smooth criminal
['B[0]:', 'Billie Jean']

In [4]:
# Create a list a_list, with the following elements 1, hello, [1,2,3] and True.
a_list = [1, 'hello', [1,2,3], 'True']
a_list

[1, 'hello', [1, 2, 3], 'True']

In [6]:
#Find the value stored at index 1 of a_list
a_list
a_list[1]

'hello'

In [13]:
#Retrieve the elements stored at index 1, 2 and 3 of a_list
a_list = [1, 'hello', [1,2,3], 'True']
print('the element stored at 1 index:',  a_list[1], '\n the element stored at 2 element:', a_list[2], '\n the element stored at 3 index:', a_list[3])
print

the element stored at 1 index: hello
 the element stored at 2 element: [1, 2, 3]
 the element stored at 3 index: True

In [15]:
#Retrieve the elements stored at index 1, 2 and 3 of a_list
a_list[1:4]

['hello', [1, 2, 3], 'True']

In [16]:
# Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']
A=[1, 'a']
B = [2, 1, 'd']
C = A+B
C

[1, 'a', 2, 1, 'd']